#{extends 'main.html' /}
#{set title:'Link of the day' /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap.min.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap-responsive.min.css'}">
#{/set}
<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <a href="#" class="brand">Link of the day</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <table class="table table-condensed table-hover table-bordered">
      <thead>
        <tr>
          <th>posted by</th><th>link</th><th>comments</th><th>last update time</th><th>delete</th>
        </tr>
      </thead>
      <tbody>
      #{list items: links, as: 'link'}
        <tr>
          <td>${link.author}</td><td><a href="//${link.url}" target="_blank">${link.url}</a></td><td>${link.remarks}</td><td>${link.ts.asdate('yyyy-MM-dd HH:mm:ss')}</td><td><button class="btn btn-small btn-danger delete-btn" data-id="${link.id}"><i class="icon icon-white icon-remove" title="delete"></i></button></td>
        </tr>
      #{/list}
      </tbody>
    </table>
    <form id="delete-form" action="delete" method="POST"><input id="delete-id" type="hidden" name="id" value=""></input></form>
    <div class="pagination">
      <ul>
      %{
        for(page = 1; page <= pages; page++) {
      }%
        <li><a href="@{Application.index(page)}"> ${page} </a></li>
      %{
        }
      }%
      </ul>
    </div>
  </div>

  <div class="row-fluid well">
    <form action="publish" method="POST" class="form-horizontal"
>      <div class="control-group">
        <label class="control-label" for="author">who are you?</label>
        <div class="controls"><input type="text" id="author" name="author" placeholder="your name, please" value="${flash.author}" maxlength="50"></input></div>
      </div>
      <div class="control-group">
        <label class="control-label" for="link">the link</label>
        <div class="controls"><input type="text" id="url" name="url" placeholder="the link you'd like to post" ${flash.url} maxlength="256" class="input-xxlarge"></input></div>
      </div>
      <div class="control-group">
        <label class="control-label" for="remarks">comments</label>
        <div class="controls"><input type="text" id="remarks" name="remarks" placeholder="any comments?" value="${flash.remarks}" maxlength="256" class="input-xxlarge"></input></div>
      </div>
      <div class="control-group">
        <div class="controls"><input type="submit" id="submit" class="btn btn-inverse"></input></div>
      </div>
    </form>
  </div>
  <div class="row-fluid">
    #{ifErrors}
      <div class="alert alert-error">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        #{errors}
          <p><strong>${error}</strong></p>
        #{/errors}
      </div>
    #{/ifErrors}
  </div>
</div>
<div id="confirm" class="modal hide fade">
  <div class="modal-header">
    <h2>Are you sure?</h2>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" id="cancel">Cancel</button>
    <button class="btn btn-primary" id="delete-confirm">Yes</button>
  </div>
</div>
<script src="@{'/public/bootstrap/js/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script>
  $(document).ready(function () {
    var delete_form_input_id = $('#delete-id');
    $('button.delete-btn').click(function(){
      $('#confirm').modal('show');
      target_id = $(this).attr('data-id');
      delete_form_input_id.val(target_id);
    });
    $('button#cancel').click(function (evt) {
      $('#confirm').modal('hide');
      delete_form_input_id.val('');
    });
    $('button#delete-confirm').click(function (evt) {
      if (delete_form_input_id.val()) {
        $('#delete-form').submit();
      }
      $('#confirm').modal('hide');
    });
  })
</script>